<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>North America</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>South America</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Europe</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Asia</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Africa</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>Australia &amp; Oceania</key>
	<dict>
		<key>Regions</key>
		<dict>
			<key>Arctic</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>GRL</string>
					<key>name</key>
					<string>Greenland</string>
				</dict>
			</array>
			<key>Caribbean</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CUB</string>
					<key>name</key>
					<string>Cuba</string>
				</dict>
			</array>
			<key>Central America</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CRI</string>
					<key>name</key>
					<string>Costa Rica</string>
				</dict>
			</array>
			<key>Mainland</key>
			<array>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>USA</string>
					<key>name</key>
					<string>United States of America</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>CAN</string>
					<key>name</key>
					<string>Canada</string>
				</dict>
				<dict>
					<key>pollutants</key>
					<array>
						<dict>
							<key>total</key>
							<integer>0</integer>
							<key>perGDP</key>
							<integer>0</integer>
							<key>perCapita</key>
							<integer>0</integer>
							<key>name</key>
							<string>Carbon Dioxide</string>
						</dict>
					</array>
					<key>code</key>
					<string>MEX</string>
					<key>name</key>
					<string>Mexico</string>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
