<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Point of No Return</key>
	<date>2035-06-21T12:29:00Z</date>
	<key>Source</key>
	<string>https://www.egu.eu/news/428/deadline-for-climate-action-act-strongly-before-2035-to-keep-warming-below-2c/</string>
</dict>
</plist>
